body{
}
.secret-entry{
  min-height: 400px;
  border: 1px solid black;
  margin-top: 50px;
  word-wrap: break-word;
}
.detail_button{
    color: white !important;
}
.entry-img{

}
.entry-img img{
  max-width: 100%;
  max-height: 100%;
}
.buy-btn{
  position: absolute;
  bottom: 0px;
}
.errorlist{
  color: #a94442;
}
.errorlist.nonfield{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
