{% extends 'secretsmodules/base.html' %}
{% block content %}
<div>
   <h1> Cart details </h1>
      {% if not request.session.cart %}
        <h6> Your cart is empty </h6>
        <a class="btn btn-secondary" href="/"> KEEP SHOPPING </a>
    {% else %}
   <div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-primary" href="/checkout"> CHECKOUT NOW </a>
      <a class="btn btn-secondary" href="/"> KEEP SHOPPING </a>
   </div>
   <div class="container">
      <div class="row">
         <table class="table  table-striped">
            <thead>
               <tr>
                  <th scope="col">Secret Title</th>
                  <th scope="col">Secret Price</th>
                  <th scope="col">Remove</th>
               </tr>
            </thead>

             <tbody>
               {% for key, value in request.session.cart.items %}
               <tr>
                  <td>
                     {{ value.secret}}
                  </td>

                  <td> {{value.price}}</td>

                  <td> <a class="btn btn-warning" href="{% url 'secretsmodules:remove_from_cart' secret_id=key %}">Remove</a></td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>
{% endif %}
{% endblock %}