{% extends "secretsmodules/base.html" %}
  {% block content %}


    <div class="jumbotron">
      <form action="" method="post">
          {% csrf_token %}
        {% if error %}
        <div class="alert alert-danger text-center">
            {{ error }} {{ request.session.LoginFailed }}
        </div>
        {% endif %}

        <div class="form-group row">
          <label for="username" class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-10">
            <input type="text" name="username" value="" class="form-control" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
          </div>
            <input type="hidden" name = "bctch">
        </div>
        {% if captcha %}
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Prove you're human</label>
          <div class="col-sm-10">
            <div class="g-recaptcha" data-sitekey="6LdnVVwUAAAAADTpG9rKVlKsOnErKFyMwqbPAEvp"></div>
          </div>
        </div>

        {% endif %}

        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
        </div>
      </form>

    </div>

  {% endblock %}
