{% extends 'secretsmodules/base.html' %}
{% block content %}
<div>
   <h1> Your secrets </h1>
   <div class="jumbotron">

      {% for key in user_purchased %}
      <div class="card">
         <div class="card-body">
            <h6>
             <span>{{key.purchase_date}}</span>
              <button class='btn btn-primary pull-right'  data-toggle="collapse" data-target="#collapseExample{{key.pk}}" aria-expanded="false" aria-controls="collapseExample">See more</button>
            </h6>

            <div class="collapse" id="collapseExample{{key.pk}}">
            <h5 class="card-title"> {{ key.secret.title}} </h5>
            <h6 class="card-subtitle mb-2 text-muted"> {{ key.secret.price}}</h6>
         </div>
      </div>
      {% endfor %}
         <a class='btn btn-primary' href="/"> Keep shopping </a>
   </div>
</div>
{% endblock %}